<div id="main-visualization" class="view1" ng-controller="loaderController">
    <div>
        <br>
        <div class="row">
            <div class="col-xs-12
              child-container">
                <!-- <h3>
                  {{customization.presets ? customization.presets : 'Visualizaciones'}}
                </h3> -->
                <!-- <div class="">
                    <i class="right"></i>
                    <i class="left"></i>
                </div> -->
            </div>
            <div class="col-md-6">
                <h3>
                  {{customization.presets ? customization.presets : 'Visualizaciones'}}
                </h3>
                <p style="padding-right: 10px;">La herramienta de Cargografías permite rastrear la trayectoria política y administrativa de funcionarios públicos clave desde 2005, año en que inició la administración de Humberto Moreira Valdés. Haz click en las siguientes dos visualizaciones predeterminadas, o bien compara a personas de interés haciendo click en <span style="font-style: italic;">Crear</span>  más abajo.</p>
                <br>
            </div>
            <div class="col-md-6">
                <h3>
                  {{customization.presets ? customization.presets : 'Visualizations'}}
                </h3>
                <p>The following tool allows you to track the political and administrative trajectory of key public officials since 2005, the year in which the administration of Humberto Moreira Valdés began. Click on either of the following default visualizations, or compare people of interest by clicking on <span style="font-style: italic;">Crear</span> below.</p>
                <br>
            </div>
            <div class="col-md-12">
                <hr style="margin: 50px 0 20px; color: #F6F6F6;">
            </div>
        </div>
        <br>
        <div class="row child-container">
            <div class="col-xs-12 col-sm-3" ng-repeat="preset in presets">
                <img ng-src="{{preset.imagen}}" ng-click="loadMyPresets($index);refreshAllVisualizations();showVisualizationFunction()">
                <button type="button" name="button" ng-click="loadMyPresets($index);refreshAllVisualizations();showVisualizationFunction()">{{preset.nombre}} </button>
                <!-- <p><a ng-href="preset.valores">{{preset.nombre}}</a></p> -->
            </div>
        </div>
    </div>
</div>
